<h1>
    <ul>
        <li>select1
            <li>science</li>
            <li>science</li>
            <li>science</li>
        </li>
        <li>select2
            <li>science</li>
            <li>science</li>
            <li>science</li>
        </li>
        <li>select3
            <li>science</li>
            <li>science</li>
            <li>science</li>
        </li>
    </ul>
</h1>